.footer{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #2E1D1E;
    margin-top: 20px;
}

.footerInnerDiv{
    width: 85%;
    color: white;
    display: flex;
}